body {
  font-family: 'Montserrat', sans-serif;
}

header{
  text-align: center;
  padding: 20px 0;
}

nav li {
  display: inline; /*Deixa conteúdo um no lado do outro */
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase; /*Deixando a letra em Maiusculo */
  color: #000000;
  font-weight: bold; /*Letra em Negrito */
  font-size: 22px;  /* Tamanho da fonte */
  text-decoration: none; 
}

nav a:hover {
  color: #998245;
  text-decoration: underline;
}

.banner {
  width: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
}

.principal {
  padding: 20px;
  font-size: 20px;
  background: #fefefe;
  
  width: 940px;
  margin: 0 auto;
}

.titulo-principal{
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.utensilios {
  width: 180px;
  float: left;
  margin: 0 20px 20px 0;
}

.titulo-beneficios{
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 1em;
}

.principal p {
  margin: 0 0 1em;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color:  #FF0000;
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

footer {
  text-align: center;
  background: url(../src/bg.jpg);
  padding: 40px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.beneficios {  
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficio {
  width: 940px;
  margin: 0 auto;
}

.lista-beneficio{
  width: 55%;
  display: inline-block;
  vertical-align: top ;
}

.itens {
  font-style: italic;
  text-align: center;
  line-height: 1.5;
}

.itens:before {
  content: "★";
}

.imagem-beneficios {
  width: 25%;
  opacity: 1;
  transition: 400ms;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video{
  width: 940px;
  margin: 2em auto;
}

.copyright {
  color: #CCCCCC;
  font-size: 16px;
  margin: 20px 0;
}

@media screen and (max-width: 480px) {
  .caixa, .principal, .conteudo-beneficio, .mapa-conteudo, .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .lista-beneficio, .imagem-beneficios {
    width: 100%;
  }
}